body {
  background-color: blanchedalmond;
}

button {
  background: none;
  border: none;
  outline: inherit;
  font: inherit;
}

button:hover {
  background-color: darkgray;
  cursor: pointer;
}

/* .topBar {
} */

.sideBar {
  width: fit-content;
  float: left;
  position: fixed;
  overflow: auto;
  height: 80%;
}

.sideBar li {
  list-style-type: none;
}

.sideBar button .active {
  background-color: darkgray;
}

.info {
  top: 50px;
  margin-left: 300px;
  position: fixed;
  width: auto;
  max-width: 700px;
}

.description {
  max-height: 25vh;
  overflow: auto;
  padding-right: 10px;
}

.depends {
  width: 50%;
  float: left;
}

.depends .packages {
  height: 40vh;
  overflow: auto;
  padding-right: 5px;
  padding-left: 5px;
}

/* .depends .packages li {
} */

p {
  margin: 0;
}
