body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: blanchedalmond;
}

button {
  background: none;
  border: none;
  outline: inherit;
  font: inherit;
}

button:hover {
  background-color: darkgray;
  cursor: pointer;
}

p {
  margin: 0;
}
